# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.venv/
env/
venv/

# Build
build/
dist/
*.egg-info/

# OS
.DS_Store

# Simulation output
output/*

# IDE
.vscode/
.idea/